<div class="container">
  <div class="msg">

    <div class="msg-item">
      <div class="frd-msg">
        <img src="../../../../assets/images/d50773ed03f1dde3719b5a4111098c64.jpg" alt="">
        <div class="msg-box">
          <span>forever</span>
          <div class="msg-text">
            <span>hello world!hello world!hello world!hello world!hello world!hello world!</span>
          </div>
        </div>
      </div>
    </div>

    <div class="msg-item">
      <div class="my-msg">
        <img src="../../../../assets/images/d50773ed03f1dde3719b5a4111098c64.jpg" alt="">
        <div class="msg-box">
          <span>forever</span>
          <div class="msg-text">
            <span>hello world!hello world!hello world!hello world!hello world!hello world!</span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="send">
    <input class="send-msg" type="text">
  </div>

</div>
