<div class="container">
  <div class="msg" *ngIf='room'>

    <div class="msg-item" *ngFor="let msg of messageList;let i=$index">
      <!--trackBy:trackByTime-->
      <div [ngClass]="setClass(msg.from)">
        <img src="../../../../assets/images/d50773ed03f1dde3719b5a4111098c64.jpg" alt="">
        <div class="msg-box">
          <span>forever</span>
          <div class="msg-text">
            <span>{{msg.message}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="send" *ngIf='room'>
    <input class="send-msg" type="text" [(ngModel)]='message' (keyup.enter)="sendMsg()">
  </div>

</div>
