.home {
  width: 100vw;
  height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
  .container {
    overflow: hidden;
    height: 80vh;
    margin-top: 10vh;
    border: 1px solid #aaa;
    border-radius: 2rem;
    padding: 0;
    position: relative;
  }
  app-side-bar {
    height: 100%;
  }
  .list-box {
    position: absolute;
    left: 3rem;
    top: 0;
    height: 100%;
    width: 100%;
  }
}
