#notices {
  position: fixed;
  top: 0;
  right: 0;
  width: 5rem;
  height: 2rem;
  .info {
    background-color: rgb(44, 155, 243);
  }
  .success {
    background-color: rgb(85, 179, 88)
  }
  .warn {
    background-color: rgb(255, 182, 13);
  }
  .error {
    background-color: rgb(244, 76, 64);
  }
}
